<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper pink">
          <a href="home" class="brand-logo">Camila Martinez Arias</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li routerLinkActive="active"><a routerLink="photos">Photos</a></li>
            <li routerLinkActive="active"><a routerLink="make-up">Makeup</a></li>
            <li routerLinkActive="active"><a routerLink="works">Works</a></li>
          </ul>
        </div>
      </nav>
</div>
